@import "../../assets/styles/variables";
@import "../../assets/styles/reuseable";

.navbar {
  width: 100vw;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: fixed;
  top: 0;
  margin: 0;
  background-color: #0a0d0e20;
  backdrop-filter: blur(15px);
  z-index: 10;

  .logo {
    a {
      display: flex;
      gap: 5px;

      img {
        width: 3rem;
      }

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  .link_group {
    display: flex;
    gap: 1rem;

    li {
      display: flex;
      justify-content: center;

      a {
        @include button();
        position: relative;
        transition: 0.3s;

        span {
          position: absolute;
          min-width: 1.25rem;
          top: 9px;
          right: 9px;
          padding: 3px;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 0.875rem;
          background-color: $primary-color;
          border-radius: 1rem;

          &.zero {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    .navbar {
      height: 4rem;

      .logo {
        font-size: 2rem;
      }

      .link_group {
        gap: 0.75rem;

        li a {
          padding: 0.75rem;
          line-height: 0.75rem;
          font-size: 1.5rem;
          border-radius: 0.75rem;
        }
      }
    }
  }
}
