@import "variables";

@mixin shape($size, $color, $opacity) {
  width: $size;
  height: $size;
  background: $color;
  border-radius: 50%;
  opacity: $opacity;
}

@mixin button {
  padding: 1rem;
  line-height: 1rem;
  font-size: 1.75rem;
  background-color: $Gray30;
  border: 1px solid $Gray30;
  border-radius: 1rem;
  cursor: pointer;
  user-select: none;
  text-align: center;

  &:hover {
    background-color: $LightGray50;
  }
}
