// color
$PrimaryColor: #ff0092;
$SecondaryColor: #b25bff;
$White: #eceff1;
$LightGray: #e5e9ec;
$Gray: #cfd8dc;
$DarkGray: #2a373d;
$Black: #0a0d0e;

$LightGray50: #e5e9ec50;
$Gray30: #cfd8dc30;

$bg-color: #eceff1;
$button-bg-color: #e5e9ec10;
$button-hover-color: #dde3e620;
$button-border-color: #dde3e610;
$text-color: #0a0d0e;
$text-color2: #9e9e9e;
$red: #f44336;
