// color
$primary-color: #ff0092;
$secondary-color: #ff0093;
$bg-color: #0a0d0e;
$button-bg-color: #e5e9ec10;
$button-hover-color: #dde3e620;
$button-border-color: #dde3e610;
$text-color: #fafafa;
$text-color2: #9e9e9e;
$red: #f44336;

// $primary-color: #d95f39;
// $secondary-color: #ff7043;
// $bg: #13191c;
// $display-bg: #1c252a;
// $numpad-bg: #263238;
// $primary-text-color: #eceff1;
// $secondary-text-color: #90a4ae;
// $button-color: #29353b;
// $button-color-hover: #37474f;
// $operation-button-color: #3e515a;
// $operation-button-color-hover: #455a64;
